
.mainContent header {
  width: 100%;
  // position: fixed;
  height: 200px;
  // background-image: url("images/StarryNight2.jpg");
  h1, h4 {
    margin: 0;
    padding: 0;
  }
}

.mainContent button {
  float: right;
  width: 20%;
  height: 50px;
  margin-top: -130px;
  margin-right: 10px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 30px 20px rgba(143, 156, 193, 0.4);
  color:#C2CAD1;
  font-weight: bold;
  font-family:monospace;
  font-size: 18px;
  &:focus{
    outline: none;
  }

}
.feed {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 100px;
  // padding-top: 200px;
  .feedItem {
    height: 250px;
    margin-top: 100px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: 0px 0px 30px 20px rgba(143, 156, 193, 0.4);
    padding: 2%;
    // background-image: url('images/StarryNight2.jpg');
  }
}

.feedUser, .feedTime, .feedLocation {
font-family: monospace;
color: white;


}


.feedUser {

font-size: 23px;

}

.feedTime {
font-size: 18px;
  margin-left: 10px;
}

p {
  width: 60%;
  color: white;
  font-family: monospace;
  font-size: 17px;
  display: inline-block;
  vertical-align: top;
  margin-top: 25px;
  margin-left: 10px;
}
 .feedImg img {
   width: 150px;
   height:150px;
   margin-top: 10px;
   display: inline-block;
 }
