.feed {

  .feedItem {
    height: 250px;
    background-repeat: no-repeat;
  }
  .feedItem:nth-child(odd) {
    background-image: url('/css/images/StarryNight2.jpg');
  }
  .feedItem:nth-child(even) {
    background-image: url('/css/images/space1.png');
  }
}
