
h1 {
  color:white;
text-align: center;
font-family: 'Quantico', sans-serif;
font-size: 100px;
letter-spacing: 5px;
margin-bottom: 5px;
}

h4 {
  color: white;
  text-align: center;
  font-size: 27px;
  font-weight: lighter;
}

.login {
  margin: 0 auto;
  width: 40%;
  padding: 39px;
  margin-top: 60px;
  /*box-shadow: 0px 0px 10px 1px rgba(145, 145, 145, 0.6);*/
}


.username input, .password input {
  width: 60%;
  height: 29px;
  margin-left: 18%;
  margin-top: 20px;
  text-align: center;
  color: white;
  box-shadow: 0px 0px 10px 1px rgba(145, 145, 145, 0.6);
  background: rgba(255, 255, 255, 0);
}

.password {
  margin-bottom: 20px;
}

  .add-new, .submit  {
    width: 30%;
    margin-right: 0;
    margin-top: 10px;
    display: inline-block;

  }

  .submit {
    margin-left: 70px;
  }

  .add-new {
    margin-left: 15px;
  }


 .submit button, .add-new button {
   width: 93%;
   border-radius: 20px;
   background: rgba(255, 255, 255, 0);
   border-color: #529EEB;
   color:#C2CAD1;
   font-weight: bold;
   font-family:monospace;
   font-size: 15px;


 }
