/*@font-face {
  font-family: "TheyAreRealAliens";
  src: url("FalturaAlien.ttf");


}*/
* {
  margin: 0; }

body {
  width: 100%;
  background-image: url("images/StarryNight2.jpg");
  background-repeat: no-repeat; }

h1 {
  color: white;
  text-align: center;
  font-family: 'Quantico', sans-serif;
  font-size: 100px;
  letter-spacing: 5px;
  margin-bottom: 5px; }

h4 {
  color: white;
  text-align: center;
  font-size: 27px;
  font-weight: lighter; }

.login {
  display: none;
  margin: 0 auto;
  width: 40%;
  /*background-color: white;*/
  padding: 39px;
  margin-top: 60px;
  /*box-shadow: 0px 0px 10px 1px rgba(145, 145, 145, 0.6);*/ }

.username input, .password input {
  width: 60%;
  height: 29px;
  margin: 10px 90px;
  text-align: center;
  box-shadow: 0px 0px 10px 1px rgba(145, 145, 145, 0.6); }

.add-new, .submit {
  width: 30%;
  margin: 0; }

.submit button {
  width: 90%;
  display: inline-block;
  margin-left: 90px; }

/*.add-new button {
   width:90%;
   display: inline-block;
 }*/
.feed .feedItem {
  height: 250px;
  background-repeat: no-repeat; }

.feed .feedItem:nth-child(odd) {
  background-image: url("/css/images/StarryNight2.jpg"); }

.feed .feedItem:nth-child(even) {
  background-image: url("/css/images/space1.png"); }
