
/*@font-face {
  font-family: "TheyAreRealAliens";
  src: url("FalturaAlien.ttf");


}*/

* {
  margin:0;

}

body {
  width: 100%;
  background-image: url("images/StarryNight2.jpg");
  background-repeat: no-repeat;

}
