/*@font-face {
  font-family: "TheyAreRealAliens";
  src: url("FalturaAlien.ttf");


}*/
* {
  margin: 0; }

body {
  width: 100%;
  background-image: url("images/StarryNight2.jpg");
  background-repeat: no-repeat; }

h1 {
  color: white;
  text-align: center;
  font-family: 'Quantico', sans-serif;
  font-size: 80px;
  letter-spacing: 5px;
  margin-bottom: 5px; }

h4 {
  color: white;
  text-align: center;
  font-size: 17px;
  font-weight: lighter; }

.login {
  margin: 0 auto;
  width: 40%;
  background-color: #a391a2;
  padding: 39px;
  margin-top: 60px;
  box-shadow: 0px 0px 10px 1px rgba(145, 145, 145, 0.6); }

.username input, .password input {
  width: 60%;
  height: 29px;
  margin: 10px 90px;
  text-align: center; }

.submit button, .add-new button {
  width: 30%;
  display: inline-block; }
